* {
    border: none;
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font", "FiraCode Nerd Font", "Hack Nerd Font", monospace;
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

/* Window */

window#waybar {
    background: rgba(30, 30, 46, 1); /* semitransparente */
    color: #cdd6f4;
    border-radius: 10px;
    margin: 5px 60px; /* flotante con espacio arriba y a los lados */
    padding: 1px 6px; /* delgada */
}

#window{
    color: #A1BDCE;
    font-family: "Martian Mono";
}

#workspaces,
#mpris,
#network,
#battery {
    background: #1e1e2e;
    padding: 1px 4px; /* altura más compacta */
    border-radius: 8px;
    margin: 0 5px;
    opacity: 1.0;
}

#mpris{
    color: white;
    animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}

/* Workspaces */
#workspaces button {
    color: #313244;
    margin-right: 5px;
    padding-right: 4px;
    padding-left: 0px;
}

#workspaces button.active {
    color: #89b4fa;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 13px;
}

#workspaces button.persistent {
    color: #f9e2af;
}

#workspaces button.empty {
    color: #313244;
}

#workspaces button.active,
#workspaces button.visible {
    color: #89b4fa;
    box-shadow: inset 0 -1px #1e1e2e;
}

#workspaces button.urgent {
    color: #f38ba8;
}

#network {
    color: #A1BDCE;
    font-weight: normal;
    font-size: 19px;
    padding-right: 4px;
    padding-left: 4px
}

/* #pulseaudio {
    color: #a1ceac;
    font-weight: normal;
    font-size: 19px;
    padding-right: 0px;
    padding-left: 4px
} */

#pulseaudio{
    font-weight: normal;
    font-size: 18px;
    color: #6F8FDB;
    padding-right: 10px;
    padding-left: 4px;
}

#backlight {
    color: #A1BDCE;
    font-weight: normal;
    font-size: 14px;
    padding-right: 0px;
    padding-left: 4px
}

#backlight-slider slider,
#pulseaudio-slider slider {
    background: #A1BDCE;
    background-color: #eba0ac;
    box-shadow: none;
    margin-right: 7px;
}


#backlight-slider trough,
#pulseaudio-slider trough {
  margin-top: -3px;
  min-width: 90px;
  min-height: 10px;
  margin-bottom: -4px;
  border-radius: 8px;
  background: #343434;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: #2096C0;
}

#upower#headset,
#upower{
    color: #a6d189;
    padding-right: 5px;
    padding-left: 5px;
}

#memory{
    font-weight: normal;
    font-size: 22px;
    color: #E4C9AF;
    margin-top: -5px;
}
#cpu{
    font-weight: normal;
    font-size: 22px;
    color: #915CAF;
    margin-top: -5px;
}

#clock{
    color: #A1BDCE;
    font-size: 12px;
    font-weight: 900;
    font-family: "JetBrains Mono Nerd Font";
    background: rgba(23, 23, 23, 0.0);
    opacity: 1;
    margin: 3px 0px 0px 0px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    
}

#custom-notification {
    color: #E8EDF0;
    background:  rgba(23, 23, 23, 0.0);
    margin: 0px 0px 0px 0px;
    padding-left: 1px;
    padding-right: 3px;
    opacity: 0.9;
    font-size: 16px
}

#custom-spacer{
    opacity: 0.0;
}

#custom-wlogout {
    color: #E8EDF0;
    background:  rgba(23, 23, 23, 0.0);
    margin: 0px 0px 0px 0px;
    padding-left: 1px;
    padding-right: 5px;
    opacity: 0.9;
    font-size: 16px
}